<script src="https://kit.fontawesome.com/c35009fcc8.js" crossorigin="anonymous"></script>
<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <div class="social-buttons">
        <a href="https://www.facebook.com/saisaketh.amanchelrla" class="social-custom social-buttons__button social-button social-button--facebook" aria-label="Facebook" style="color: #3b5999;">
          <span >
           <i class="fab fa-facebook-f"></i>
          </span>
        </a>
        <a href="https://www.linkedin.com/in/saketh-shanmukha-57085a175/" class="social-custom social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn" style="color: #0077b5;">
          <span >
           <i class="fab fa-linkedin-in"></i>
          </span>
        </a>
        <a href="https://www.instagram.com/saketh_shanmukha/" class="social-custom social-buttons__button social-button social-button--instagram" aria-label="instagram" style="color: #e4405f;">
          <span >
           <i class="fab fa-instagram"></i>
          </span>
        </a>
        <a href="https://github.com/SakethShanmukha" class=" social-custom social-buttons__button social-button social-button--github" aria-label="GitHub" style="color: #6e5494;">
          <span >
           <i class="fab fa-github"></i>
          </span>
        </a>
        <a href="https://www.hackerrank.com/saisaketha01" class="social-custom social-buttons__button social-button social-button--hackerrank" aria-label="hackerrank" style="color: lightgreen;">
          <span >
           <i class="fab fa-hackerrank"></i>
          </span>
        </a>
      </div>
<%- include("partials/footer"); -%>
